[submodule "wasmiot-orchestrator-webgui"]
	path = wasmiot-orchestrator-webgui
	url = git@github.com:LiquidAI-project/wasmiot-orchestrator-webgui.git
[submodule "supervisor-rust-port"]
	path = supervisor-rust-port
	url = git@github.com:LiquidAI-project/supervisor-rust-port.git
